body{
  margin: 0;
  background-color: greenyellow;
}

#menu{
margin: 0;
background-color: #0404B4;
}

#menu ul{
  margin:0;
  list-style: none;
 text-align: right;
}

#menu ul li{
display: inline-block;
padding-top:10px;
padding-bottom:10px;

}

#menu ul li a {
 color: lightgreen;
 padding: 10px;
 text-decoration: none;
  padding-right: 25px;
  padding-left:25px;
}

h1{ 
  color:aliceblue;
 padding-top: 10px;
 padding-bottom: 10px;
  text-align: center;
   font-weight: bold;
   font:500;
}

p{
 color:aliceblue;
}
p.fundo{
  padding-top:75px;
  text-align:right;
  font-style: italic;
  font-size: large;
}

img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


footer { 
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  background-color: blue;
 padding-block-end: 20px;
 padding-block-start: 20px;

}

form{
 text-align: center;

}
.email{
 border:none;
 padding: 5px 5px
}
.button{
background-color: #4CAF50;
color: aliceblue;
border:none;
padding: 5px 5px;
}
